body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button, button:focus {
  user-select: none;
  outline: none;
  text-decoration: none;
}

i {
  font-size: 30px;
  cursor: pointer;
}