$background: #FFFCF8;
$main: #0d6efd;
$title: 'Montserrat', sans-serif;
$start-stroke: #595959;
$pedal: linear-gradient(180deg, #3F4245 0%, #232427 100%);
$shadow: 0px 9px 9px rgba(0, 0, 0, 0.25);
$cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99);
$non-active: #3D3F46;
$subtitle: rgba(61, 63, 70, 0.3);
$tool: #ECE8E8;
$size: 300px;

$code-background: #EBEBEB;
$code-stroke: #E0E0E0;

$pre-danger-zone: #FFD954;
$danger-zone: #FF3156