body {
  background: #FFFCF8;
}

#title {
  color: #0d6efd;
  margin-top: 0.8em;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-style: italic;
}

#container {
  width: 100%;
  height: auto;
  min-height: 300px;
}
#container #wrapper {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 20px;
}

#tools-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
#tools-container #tools {
  width: 100%;
}

#wheel {
  background-image: url("/icons/stWheel.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  cursor: pointer;
}

#start-container {
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: initial;
}
#start-container span {
  margin: auto;
  width: 120px;
  height: 120px;
  background-image: url("/icons/start-stop.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

#pedals-container > * {
  cursor: pointer;
}

#clutch:hover {
  transform: perspective(400px) rotateX(-40deg);
}

#clutch, #brake {
  width: 90px;
  height: 150px;
  background-image: url("/icons/clutch.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 150ms cubic-bezier(0.4, 0.01, 0.165, 0.99);
}
#clutch:hover, #brake:hover {
  transform: perspective(400px) rotateX(-25deg);
}

#accelerator {
  height: 200px;
  background-image: url("/icons/accelerator.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 90px;
  transition: all 150ms cubic-bezier(0.4, 0.01, 0.165, 0.99);
}
#accelerator:hover {
  transform: perspective(400px) rotateX(25deg);
}

#gear-container {
  display: flex;
  height: 150px;
}
#gear-container #gear-wrapper {
  width: 190px;
  height: 150px;
}
#gear-container #gear-wrapper:first-child .col {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #3D3F46;
  font-weight: bold;
}
#gear-container #gear-wrapper:first-child .col span {
  width: 12px;
  height: 50px;
  background: #3D3F46;
}
#gear-container #gear-wrapper #first-gears span {
  border-radius: 3px 3px 0 0;
}
#gear-container #gear-wrapper #last-gears span {
  border-radius: 0 0 3px 3px;
}
#gear-container #gear-wrapper #neutral .col span {
  width: 100%;
  height: 12px;
  background: #0d6efd;
  border-radius: 3px;
}

#current-fuel {
  margin-top: 5em;
}
#current-fuel h1 {
  color: #0d6efd;
  margin-top: 0.8em;
  font-size: 60px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-align: left;
}
#current-fuel h4 {
  color: rgba(61, 63, 70, 0.3);
  text-align: left;
  font-size: 20px;
  font-weight: 600;
}

.tool-container {
  display: flex;
}
.tool-container .tool-wrapper {
  margin: auto;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  border: 0.5em solid #0d6efd;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: flex;
  flex-wrap: wrap;
}
.tool-container .tool-wrapper #s-values {
  width: 265px;
  height: 265px;
  border: 6px dashed #ECE8E8;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: flex;
  margin: 10px auto;
}
.tool-container .tool-wrapper #s-values .arrow-container {
  margin: auto;
}
.tool-container .tool-wrapper #s-values .arrow-container .arrow-wrapper .circle {
  width: 35px;
  height: 35px;
  background: #ECE8E8;
  display: block;
  border-radius: 50%;
}
.tool-container .tool-wrapper #s-values .arrow-container .arrow-wrapper .arrow {
  width: 78px;
  height: 7px;
  background: #0d6efd;
  display: block;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 100%;
  border-top-right-radius: 5px;
  z-index: 1;
}
.tool-container .tool-wrapper .tool-subtitle {
  width: 100%;
}
.tool-container .tool-wrapper .tool-subtitle h1 {
  text-align: center;
  color: #0d6efd;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  font-size: 90px;
}
.tool-container .tool-wrapper .tool-subtitle h4 {
  font-style: normal;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  margin: 0;
  color: rgba(61, 63, 70, 0.3);
}

/*# sourceMappingURL=index.css.map */
